@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

$font-family: 'Patrick Hand';
$body-font-family: $font-family;
$title-font: $font-family;
$text-font: $font-family;


@for $i from 1 through 30 {
  .fs-#{$i} {
    font-size: $i*0.5+rem !important;
  }
}


:root {
  --color-text: rgb(255, 0, 0);
  --color-background: #08a3b7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-family: $font-family;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: $font-family;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
}


.text-h2 {
  font-family: $font-family !important;
}