@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
$body-font-family: 'Patrick Hand', cursive !important;

:root {
  --color-text: #1c1c1c;
  --color-background: #08a3b7;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  font-family: $body-font-family !important;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: $body-font-family !important;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
